* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, video {
    vertical-align: middle;
}

html, body {
    font-family: 'NotoSerif', serif;
    font-size: 16px;
    line-height: 24px;
}

.emag-cover img {
    width: 100%;
}

.emag-cover video {
    width: 100%;
}
.emag-cover-bottom img {
    width: 100%;
    margin-bottom: 30px;
}

.emag-title {
    margin-bottom: 30px;
}
.emag-title img {
    width: 100%;
}

.emag-sapo {
    margin-bottom: 30px;
    margin-top: -10%;
}
.emag-sapo img {
    width: 100%;
}

.emag-content p {
    margin-bottom: 30px;
    padding: 0 15px;
}

.emag-content img {
    margin-bottom: 30px;
    width: 100%;
}
.emag-credit {
    padding: 0 15px;
    margin-bottom: 60px;
}
.emag-credit img {
    width: 100%;
}