* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, video {
    vertical-align: middle;
}

html, body {
    font-family: 'NotoSerif', serif;
    font-size: 16px;
    line-height: 24px;
}
.emag-cover {
    position: relative;
}
.emag-cover::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: all 1s;
}
.emag-cover.hide::before {
    background-color: rgba(0, 0, 0, 0);
}

.emag-cover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.emag-cover video {
    width: 100%;
}
.emag-cover-bottom img {
    width: 100%;
    margin-bottom: 30px;
}

.emag-title {
    margin-bottom: 30px;
}
.emag-title img {
    width: 100%;
}

.emag-sapo {
    margin-bottom: 30px;
    margin-top: -5%;
    position: relative;
}
.emag-sapo img {
    width: 100%;
}

.emag-content p {
    margin-bottom: 30px;
    padding: 0 15px;
}

.emag-content img {
    margin-bottom: 30px;
    width: 100%;
}
.emag-credit {
    padding: 0 15px;
    margin-bottom: 60px;
}
.emag-credit img {
    width: 100%;
}